<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>UI Features</span>
                </li>
            </ul>
            <div class="page-toolbar">
                <div class="btn-group pull-right">
                    <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown"> Actions
                        <i class="fa fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li>
                            <a href="#">
                                <i class="icon-bell"></i> Action</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-shield"></i> Another action</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-user"></i> Something else here</a>
                        </li>
                        <li class="divider"> </li>
                        <li>
                            <a href="#">
                                <i class="icon-bag"></i> Separated link</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- END PAGE BAR -->
        <!-- BEGIN PAGE TITLE-->
        <h3 class="page-title"> Timeline
            <small></small>
        </h3>
        <!-- END PAGE TITLE-->
        <!-- END PAGE HEADER-->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light portlet-fit bg-inverse ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-microphone font-red"></i>
                            <span class="caption-subject bold font-red uppercase"> Timeline 2</span>
                            <span class="caption-helper">white bg...</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="timeline  white-bg ">
                            <!-- TIMELINE ITEM -->
                            <div class="timeline-item">
                                <div class="timeline-badge">
                                    <img class="timeline-badge-userpic" src="{{ level }}/media/users/avatar80_2.jpg"> </div>
                                <div class="timeline-body">
                                    <div class="timeline-body-arrow"> </div>
                                    <div class="timeline-body-head">
                                        <div class="timeline-body-head-caption">
                                            <a href="javascript:;" class="timeline-body-title font-blue-madison">Lisa Strong</a>
                                            <span class="timeline-body-time font-grey-cascade">Replied at 17:45 PM</span>
                                        </div>
                                        <div class="timeline-body-head-actions">
                                            <div class="btn-group">
                                                <button class="btn btn-circle green btn-outline btn-sm dropdown-toggle" type="button" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> Actions
                                                    <i class="fa fa-angle-down"></i>
                                                </button>
                                                <ul class="dropdown-menu pull-right" role="menu">
                                                    <li>
                                                        <a href="javascript:;">Action </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">Another action </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">Something else here </a>
                                                    </li>
                                                    <li class="divider"> </li>
                                                    <li>
                                                        <a href="javascript:;">Separated link </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timeline-body-content">
                                                    <span class="font-grey-cascade"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut consectetuer adipiscing elit laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                                                        quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </span>
                                    </div>
                                </div>
                            </div>
                            <!-- END TIMELINE ITEM -->
                            <!-- TIMELINE ITEM -->
                            <div class="timeline-item">
                                <div class="timeline-badge">
                                    <img class="timeline-badge-userpic" src="../assets/pages/media/users/avatar80_5.jpg"> </div>
                                <div class="timeline-body">
                                    <div class="timeline-body-arrow"> </div>
                                    <div class="timeline-body-head">
                                        <div class="timeline-body-head-caption">
                                            <a href="javascript:;" class="timeline-body-title font-blue-madison">Vanessa Bond</a>
                                            <span class="timeline-body-time font-grey-cascade">Posted new post at 5:10 PM</span>
                                        </div>
                                        <div class="timeline-body-head-actions"> </div>
                                    </div>
                                    <div class="timeline-body-content">
                                                    <span class="font-grey-cascade">
                                                        <p>
                                                            <img class="timeline-body-img pull-right" src="../assets/pages/media/blog/6.jpg" alt=""> Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce. Celery coriander bitterleaf epazote radicchio shallot winter purslane collard
                                                            greens spring onion squash lentil. Artichoke salad bamboo shoot black-eyed pea brussels sprout garlic kohlrabi. coriander bitterleaf epazote radicchio shallot winter purslane collard. </p>
                                                        <p>
                                                            Coriander bitterleaf epazote radicchio shallot winter purslane collard. Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce. Celery coriander
                                                            bitterleaf epazote radicchio shallot winter purslane collard greens spring onion squash lentil. Artichoke salad bamboo shoot black-eyed pea brussels sprout garlic kohlrabi. </p>
                                                    </span>
                                    </div>
                                </div>
                            </div>
                            <!-- END TIMELINE ITEM -->
                            <!-- TIMELINE ITEM WITH GOOGLE MAP -->
                            <div class="timeline-item">
                                <div class="timeline-badge">
                                    <img class="timeline-badge-userpic" src="../assets/pages/media/users/avatar80_7.jpg"> </div>
                                <div class="timeline-body">
                                    <div class="timeline-body-arrow"> </div>
                                    <div class="timeline-body-head">
                                        <div class="timeline-body-head-caption">
                                            <a href="javascript:;" class="timeline-body-title font-blue-madison">Paul Kiton</a>
                                            <span class="timeline-body-time font-grey-cascade">Added office location at 2:50 PM</span>
                                        </div>
                                        <div class="timeline-body-head-actions">
                                            <div class="btn-group">
                                                <button class="btn btn-circle red btn-sm dropdown-toggle" type="button" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> Actions
                                                    <i class="fa fa-angle-down"></i>
                                                </button>
                                                <ul class="dropdown-menu pull-right" role="menu">
                                                    <li>
                                                        <a href="javascript:;">Action </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">Another action </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">Something else here </a>
                                                    </li>
                                                    <li class="divider"> </li>
                                                    <li>
                                                        <a href="javascript:;">Separated link </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timeline-body-content">
                                        <div id="gmap_polygons" class="gmaps"> </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END TIMELINE ITEM WITH GOOGLE MAP -->
                            <!-- TIMELINE ITEM -->
                            <div class="timeline-item">
                                <div class="timeline-badge">
                                    <div class="timeline-icon">
                                        <i class="icon-user-following font-green-haze"></i>
                                    </div>
                                </div>
                                <div class="timeline-body">
                                    <div class="timeline-body-arrow"> </div>
                                    <div class="timeline-body-head">
                                        <div class="timeline-body-head-caption">
                                            <span class="timeline-body-alerttitle font-red-intense">You have new follower</span>
                                            <span class="timeline-body-time font-grey-cascade">at 11:00 PM</span>
                                        </div>
                                        <div class="timeline-body-head-actions">
                                            <div class="btn-group">
                                                <button class="btn btn-circle green btn-outline

                               btn-sm dropdown-toggle" type="button" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> Actions
                                                    <i class="fa fa-angle-down"></i>
                                                </button>
                                                <ul class="dropdown-menu pull-right" role="menu">
                                                    <li>
                                                        <a href="javascript:;">Action </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">Another action </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">Something else here </a>
                                                    </li>
                                                    <li class="divider"> </li>
                                                    <li>
                                                        <a href="javascript:;">Separated link </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timeline-body-content">
                                                    <span class="font-grey-cascade"> You have new follower
                                                        <a href="javascript:;">Ivan Rakitic</a>
                                                    </span>
                                    </div>
                                </div>
                            </div>
                            <!-- END TIMELINE ITEM -->
                            <!-- TIMELINE ITEM -->
                            <div class="timeline-item">
                                <div class="timeline-badge">
                                    <img class="timeline-badge-userpic" src="../assets/pages/media/users/avatar80_1.jpg"> </div>
                                <div class="timeline-body">
                                    <div class="timeline-body-arrow"> </div>
                                    <div class="timeline-body-head">
                                        <div class="timeline-body-head-caption">
                                            <a href="javascript:;" class="timeline-body-title font-blue-madison">Andres Iniesta</a>
                                            <span class="timeline-body-time font-grey-cascade">Replied at 7:45 PM</span>
                                        </div>
                                        <div class="timeline-body-head-actions"> </div>
                                    </div>
                                    <div class="timeline-body-content">
                                                    <span class="font-grey-cascade"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                                                        ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </span>
                                    </div>
                                </div>
                            </div>
                            <!-- END TIMELINE ITEM -->
                            <!-- TIMELINE ITEM -->
                            <div class="timeline-item">
                                <div class="timeline-badge">
                                    <img class="timeline-badge-userpic img-circle" src="../assets/pages/media/users/avatar80_2.jpg"> </div>
                                <div class="timeline-body">
                                    <div class="timeline-body-arrow"> </div>
                                    <div class="timeline-body-head">
                                        <div class="timeline-body-head-caption">
                                            <a href="javascript:;" class="timeline-body-title font-blue-madison">Vanessa Bond</a>
                                            <span class="timeline-body-time font-grey-cascade">Posted new post at 5:10 PM</span>
                                        </div>
                                        <div class="timeline-body-head-actions"> </div>
                                    </div>
                                    <div class="timeline-body-content">
                                                    <span class="font-grey-cascade">
                                                        <p>
                                                            <img class="timeline-body-img pull-right" src="../assets/pages/media/blog/4.jpg" alt=""> Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce. Celery coriander bitterleaf epazote radicchio shallot winter purslane collard
                                                            greens spring onion squash lentil. Artichoke salad bamboo shoot black-eyed pea brussels sprout garlic kohlrabi. coriander bitterleaf epazote radicchio shallot winter purslane collard. </p>
                                                        <p>
                                                            Coriander bitterleaf epazote radicchio shallot winter purslane collard. Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce. Celery coriander
                                                            bitterleaf epazote radicchio shallot winter purslane collard greens spring onion squash lentil. Artichoke salad bamboo shoot black-eyed pea brussels sprout garlic kohlrabi. </p>
                                                        <p>
                                                            <img class="timeline-body-img pull-left" src="../assets/pages/media/blog/6.jpg" alt=""> Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce. Celery coriander bitterleaf epazote radicchio shallot winter purslane collard
                                                            greens spring onion squash lentil. Artichoke salad bamboo shoot black-eyed pea brussels sprout garlic kohlrabi radicchio shallot winter purslane collard greens spring onion squash lentil. </p>
                                                        <p> Coriander bitterleaf epazote radicchio shallot winter purslane collard. Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce. Celery coriander
                                                            bitterleaf epazote radicchio shallot winter purslane collard greens spring onion squash lentil. Artichoke salad bamboo shoot black-eyed pea brussels sprout garlic kohlrabi. </p>
                                                    </span>
                                    </div>
                                </div>
                            </div>
                            <!-- END TIMELINE ITEM -->
                            <!-- TIMELINE ITEM -->
                            <div class="timeline-item">
                                <div class="timeline-badge">
                                    <div class="timeline-icon">
                                        <i class="icon-docs font-red-intense"></i>
                                    </div>
                                </div>
                                <div class="timeline-body">
                                    <div class="timeline-body-arrow"> </div>
                                    <div class="timeline-body-head">
                                        <div class="timeline-body-head-caption">
                                            <span class="timeline-body-alerttitle font-green-haze">Server Report</span>
                                            <span class="timeline-body-time font-grey-cascade">Yesterday at 11:00 PM</span>
                                        </div>
                                        <div class="timeline-body-head-actions">
                                            <div class="btn-group dropup">
                                                <button class="btn btn-circle red btn-sm dropdown-toggle" type="button" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> Actions
                                                    <i class="fa fa-angle-down"></i>
                                                </button>
                                                <ul class="dropdown-menu pull-right" role="menu">
                                                    <li>
                                                        <a href="javascript:;">Action </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">Another action </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">Something else here </a>
                                                    </li>
                                                    <li class="divider"> </li>
                                                    <li>
                                                        <a href="javascript:;">Separated link </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timeline-body-content">
                                                    <span class="font-grey-cascade"> Lorem ipsum dolore sit amet
                                                        <a href="javascript:;">Ispect</a>
                                                    </span>
                                    </div>
                                </div>
                            </div>
                            <!-- END TIMELINE ITEM -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>