<footer class="footer-1 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <img alt="Logo" class="logo" src="{{level}}img/logo-light.png" />
                <br/>
                <span class="sub">{{currentYear}} &copy; Dynamite Docs.</span>&emsp;&emsp;
                <a href="/help">Ayuda</a>&nbsp;-&nbsp;
                <a href="/pricing">Precios</a>&nbsp;-&nbsp;
                <a href="/privacy">Privacidad</a>&nbsp;-&nbsp;
                <a href="/sitemap">Sitio</a>&nbsp;-&nbsp;
                <a href="/terms">T&eacute;rminos</a>
            </div>
            <div class="col-sm-3 text-right">
                <br/>
                <ul class="list-inline social-list">
                    <li>
                        <a href="https://twitter.com/sintecsas" target="_blank">
                            <i class="ti-twitter-alt"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/Sintec-SAS-394376703905712" target="_blank">
                            <i class="ti-facebook"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--end of container-->
    <a class="btn btn-sm fade-half back-to-top inner-link" href="#top">Inicio</a>
</footer>