<div class="module left">
    <ul class="menu">
        <li>
            <a href="#home">
                Inicio
            </a>
        </li>
        <li class="has-dropdown">
            <a href="#features">
                Por qu&eacute; Dynamite?
            </a>
            <ul>
                <li>
                    <a href="#notifications">
                        Notificaciones
                    </a>
                </li>
                <li>
                    <a href="#docs">
                        Gesti&oacute;n Documental
                    </a>
                </li>
                <li>
                    <a href="#clients">
                        Nuestros Clientes
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#pricing">
                Precio
            </a>
        </li>
        <li>
            <a href="/contact">
                Contacto
            </a>
        </li>
    </ul>
</div>
<div class="module widget-handle language left">
    <ul class="menu">
        <li>
            <a href="#">Iniciar sesi&oacute;n</a>
        </li>
    </ul>
</div>