# Logs
logs
*.log

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Globals
.DS_Store
thumbs.db

# WebStorm IDE
.idea/

# Public
# Premium Template Metronic
# You can buy it on themeforest
# http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469
public/v4.1.0/
public/css/
public/img/
public/plugins/
public/scripts/
public/favicon.ico
*.html