<div class="page-sidebar-wrapper">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
            <li class="nav-item start active open">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Dashboard</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item start active open">
                        <a href="/dashboard" class="nav-link ">
                            <i class="icon-bar-chart"></i>
                            <span class="title">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item start ">
                        <a href="/dashboard/timeline" class="nav-link ">
                            <i class="icon-bulb"></i>
                            <span class="title">Timeline</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="heading">
                <h3 class="uppercase">Departamentos</h3>
            </li>
            <li class="nav-item ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Nomina</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item start active open">
                        <a href="/dashboard" class="nav-link ">
                            <i class="icon-bar-chart"></i>
                            <span class="title">Empleados</span>
                        </a>
                    </li>
                    <li class="nav-item start ">
                        <a href="/dashboard/timeline" class="nav-link ">
                            <i class="icon-bulb"></i>
                            <span class="title">Novedades</span>
                        </a>
                    </li>
                    <li class="nav-item start ">
                        <a href="/dashboard/timeline" class="nav-link ">
                            <i class="icon-bulb"></i>
                            <span class="title">Contratos</span>
                        </a>
                    </li>
                    <li class="nav-item start ">
                        <a href="/dashboard/timeline" class="nav-link ">
                            <i class="icon-bulb"></i>
                            <span class="title">Certificaciones</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="heading">
                <h3 class="uppercase">Ajustes</h3>
            </li>
            <li class="nav-item ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Empresas</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu ">
                    <li class="nav-item start active open">
                        <a href="/dashboard" class="nav-link ">
                            <i class="icon-bar-chart"></i>
                            <span class="title">Sucursales</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Parametros</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu ">
                    <li class="nav-item start active open">
                        <a href="/dashboard" class="nav-link ">
                            <i class="icon-bar-chart"></i>
                            <span class="title">ARL</span>
                        </a>
                    </li>
                    <li class="nav-item start ">
                        <a href="javascript:;" class="nav-link nav-toggle">
                            <i class="icon-notebook"></i>
                            <span class="title">Contratos</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu ">
                            <li class="nav-item start ">
                                <a href="/dashboard/timeline" class="nav-link ">
                                    <i class="icon-bulb"></i>
                                    <span class="title">Tipos de Contratos</span>
                                </a>
                            </li>
                            <li class="nav-item start ">
                                <a href="/dashboard/timeline" class="nav-link ">
                                    <i class="icon-bulb"></i>
                                    <span class="title">Terminación de Contrato</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item start ">
                        <a href="/dashboard/timeline" class="nav-link ">
                            <i class="icon-bulb"></i>
                            <span class="title">EPS</span>
                        </a>
                    </li>
                    <li class="nav-item start ">
                        <a href="/dashboard/timeline" class="nav-link ">
                            <i class="icon-bulb"></i>
                            <span class="title">Fondo de pensiones</span>
                        </a>
                    </li>
                    <li class="nav-item start ">
                        <a href="/dashboard/timeline" class="nav-link ">
                            <i class="icon-bulb"></i>
                            <span class="title">Novedades</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="heading">
                <h3 class="uppercase">Usuario</h3>
            </li>
            <li class="nav-item ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Perfil</span>
                </a>
            </li>
            <li class="nav-item ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Seguridad</span>
                </a>
            </li>
            <li class="nav-item ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Facturación</span>
                </a>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>