<!doctype html>
<html lang="en">
<head>
    {{> landing/head}}
</head>
<body>
<div class="nav-container">
    <a id="top"></a>
    <nav>
        <div class="nav-utility">
            <div class="module left">
                <i class="ti-location-arrow">&nbsp;</i>
                <span class="sub">68 Cardamon Place, Melbourne Vic 3000</span>
            </div>
            <div class="module left">
                <i class="ti-email">&nbsp;</i>
                <span class="sub">hello@foundry.net</span>
            </div>
            <div class="module right">
                <a class="btn btn-sm hidden-xs hidden-sm hidden-md" href="/">Try Builder</a>
                <a class="btn btn-sm btn-filled" href="/pricing">Buy Now</a>
            </div>
        </div>
        <div class="nav-bar">
            <div class="module left">
                <a href="/">
                    <img class="logo logo-light" alt="Foundry" src="{{level}}img/logo-light.png" />
                    <img class="logo logo-dark" alt="Foundry" src="{{level}}img/logo-dark.png" />
                </a>
            </div>
            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                <i class="ti-menu"></i>
            </div>
            <div class="module-group right">
                {{> landing/navigation}}
            </div>
        </div>
    </nav>
</div>
<div class="main-container">
    <section class="page-title page-title-4 bg-secondary">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="uppercase mb0">
                        <i class="ti-receipt"></i> Pricing Tables</h3>
                </div>
                <div class="col-md-6 text-right">
                    <ol class="breadcrumb breadcrumb-2">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="#">Elements</a>
                        </li>
                        <li class="active">Pricing Tables</li>
                    </ol>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h4 class="uppercase mb16">Brief Plans</h4>
                    <p class="lead mb64">
                        Perfect for uncomplicated pricing options. Alter appearance with '.boxed' and '.emphasis' classes
                    </p>
                </div>
            </div>
            <!--end of row-->
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="pricing-table pt-1 text-center">
                        <H5 class="uppercase">Starter</H5>
                        <span class="price">$12</span>
                        <p class="lead">Per Month</p>
                        <a class="btn btn-filled btn-lg" href="#">Get Started</a>
                        <p>
                            30 Day Free Trial
                            <br /> No Credit Card Required
                        </p>
                    </div>
                    <!--end of pricing table-->
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="pricing-table pt-1 text-center boxed">
                        <H5 class="uppercase">Pro</H5>
                        <span class="price">$19</span>
                        <p class="lead">Per Month</p>
                        <a class="btn btn-filled btn-lg" href="#">Get Started</a>
                        <p>
                            30 Day Free Trial
                            <br /> No Credit Card Required
                        </p>
                    </div>
                    <!--end of pricing table-->
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="pricing-table pt-1 text-center emphasis">
                        <H5 class="uppercase">Value</H5>
                        <span class="price">$14</span>
                        <p class="lead">Per Month</p>
                        <a class="btn btn-white btn-lg" href="#">Get Started</a>
                        <p>
                            30 Day Free Trial
                            <br /> No Credit Card Required
                        </p>
                    </div>
                    <!--end of pricing table-->
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h4 class="uppercase mb16">Extended Plans</h4>
                    <p class="lead mb64">
                        Perfect for plans with greater detail. Alter appearance with '.boxed' and '.emphasis' classes
                    </p>
                </div>
            </div>
            <!--end of row-->
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="pricing-table pt-2 text-center">
                        <h5 class="uppercase">Starter</h5>
                        <span class="price">$12</span>
                        <p class="lead">Per Month</p>
                        <a class="btn btn-filled btn-lg" href="#">Get Started</a>
                        <ul>
                            <li>
                                <strong>Unlimited</strong> access to content
                            </li>
                            <li>
                                <strong>Fully Secure</strong> online backup
                            </li>
                            <li>
                                <strong>One Year</strong> round the clock support
                            </li>
                            <li>
                                <strong>FREE</strong> complimentary lanyard
                            </li>
                        </ul>
                    </div>
                    <!--end of pricing table-->
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="pricing-table pt-2 boxed text-center">
                        <h5 class="uppercase">Starter</h5>
                        <span class="price">$12</span>
                        <p class="lead">Per Month</p>
                        <a class="btn btn-filled btn-lg" href="#">Get Started</a>
                        <ul>
                            <li>
                                <strong>Unlimited</strong> access to content
                            </li>
                            <li>
                                <strong>Fully Secure</strong> online backup
                            </li>
                            <li>
                                <strong>One Year</strong> round the clock support
                            </li>
                            <li>
                                <strong>FREE</strong> complimentary lanyard
                            </li>
                        </ul>
                    </div>
                    <!--end of pricing table-->
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="pricing-table pt-2 emphasis text-center">
                        <h5 class="uppercase">Starter</h5>
                        <span class="price">$12</span>
                        <p class="lead">Per Month</p>
                        <a class="btn btn-white btn-lg" href="#">Get Started</a>
                        <ul>
                            <li>
                                <strong>Unlimited</strong> access to content
                            </li>
                            <li>
                                <strong>Fully Secure</strong> online backup
                            </li>
                            <li>
                                <strong>One Year</strong> round the clock support
                            </li>
                            <li>
                                <strong>FREE</strong> complimentary lanyard
                            </li>
                        </ul>
                    </div>
                    <!--end of pricing table-->
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <!-- FOOTER -->
    {{> landing/footer}}
    <!-- END FOOTER -->
</div>
{{> landing/scripts}}
</body>
</html>