<section class="fullscreen">
    <div class="container v-align-transform">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="feature text-center">
                    <i class="ti-check-box icon icon-lg mb24 mb-xs-0"></i>
                    <h1 class="large">Thanks for signing up!</h1>
                    <p class="mb40 mb-xs-24">You will receive a confirmation email shortly.
                        <a href="/">Back to home page</a>
                    </p>
                    <ul class="list-inline social-list">
                        <li>
                            <a href="https://twitter.com/sintecsas" target="_blank">
                                <i class="icon icon-sm ti-twitter-alt"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/Sintec-SAS-394376703905712" target="_blank">
                                <i class="icon icon-sm ti-facebook"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="embelish-icons">
            <i class="ti-pencil-alt"></i>
            <i class="ti-check"></i>
            <i class="ti-envelope"></i>
            <i class="ti-announcement"></i>
            <i class="ti-signal"></i>
            <i class="ti-pulse"></i>
            <i class="ti-marker"></i>
            <i class="ti-layout"></i>
            <i class="ti-ruler-alt-2"></i>
            <i class="ti-eye"></i>
            <i class="ti-signal"></i>
            <i class="ti-pulse"></i>
        </div>
    </div>
</section>