<section class="page-title page-title-4 bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3 class="uppercase mb0">
                    <i class="ti-list"></i> Lists</h3>
            </div>
            <div class="col-md-6 text-right">
                <ol class="breadcrumb breadcrumb-2">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="#">Elements</a>
                    </li>
                    <li class="active">Lists</li>
                </ol>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <h4 class="uppercase mb16">Bulleted Lists</h4>
                <p class="lead mb80">
                    Use any icon as a bullet point to create attractive lists. Just inset the icon's name in the 'data-bullet' attribute. A full list of available icons can be found <a href="http://themify.me/themify-icons" target="blank">here</a>.
                </p>
            </div>
        </div>
        <div class="row mb64 mb-xs-0">
            <div class="col-sm-6">
                <ul class="lead" data-bullet="ti-arrow-right">
                    <li>Here's bullet point number one</li>
                    <li>Now for the second point</li>
                    <li>You guessed it, here comes the third</li>
                    <li>A fourth bullet point just to be safe</li>
                </ul>
            </div>
            <div class="col-sm-6">
                <ul class="lead" data-bullet="ti-check-box">
                    <li>Here's bullet point number one</li>
                    <li>Now for the second point</li>
                    <li>You guessed it, here comes the third</li>
                    <li>A fourth bullet point just to be safe</li>
                </ul>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-sm-6">
                <ul class="lead" data-bullet="ti-plus">
                    <li>Here's bullet point number one</li>
                    <li>Now for the second point</li>
                    <li>You guessed it, here comes the third</li>
                    <li>A fourth bullet point just to be safe</li>
                </ul>
            </div>
            <div class="col-sm-6">
                <ul class="lead" data-bullet="ti-heart">
                    <li>Here's bullet point number one</li>
                    <li>Now for the second point</li>
                    <li>You guessed it, here comes the third</li>
                    <li>A fourth bullet point just to be safe</li>
                </ul>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>