<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>Form Stuff</span>
                </li>
            </ul>
            <div class="page-toolbar">
                <div class="btn-group pull-right">
                    <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown"> Actions
                        <i class="fa fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li>
                            <a href="#">
                                <i class="icon-bell"></i> Action</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-shield"></i> Another action</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-user"></i> Something else here</a>
                        </li>
                        <li class="divider"> </li>
                        <li>
                            <a href="#">
                                <i class="icon-bag"></i> Separated link</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- END PAGE BAR -->
        <!-- BEGIN PAGE TITLE-->
        <h3 class="page-title"> Bootstrap Form Controls
            <small>bootstrap form controls and more</small>
        </h3>
        <!-- END PAGE TITLE-->
        <!-- END PAGE HEADER-->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN SAMPLE FORM PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-red-sunglo">
                            <i class="icon-settings font-red-sunglo"></i>
                            <span class="caption-subject bold uppercase"> Default Form</span>
                        </div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn btn-sm green dropdown-toggle" href="javascript:;" data-toggle="dropdown"> Actions
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-pencil"></i> Edit </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-trash-o"></i> Delete </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-ban"></i> Ban </a>
                                    </li>
                                    <li class="divider"> </li>
                                    <li>
                                        <a href="javascript:;"> Make admin </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <form role="form">
                            <div class="form-body">
                                <div class="form-group">
                                    <label>Email Address</label>
                                    <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-envelope"></i>
                                                    </span>
                                        <input type="text" class="form-control" placeholder="Email Address"> </div>
                                </div>
                                <div class="form-group">
                                    <label>Circle Input</label>
                                    <div class="input-group">
                                                    <span class="input-group-addon input-circle-left">
                                                        <i class="fa fa-envelope"></i>
                                                    </span>
                                        <input type="text" class="form-control input-circle-right" placeholder="Email Address"> </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <div class="input-group">
                                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-user font-red"></i>
                                                    </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Left Icon</label>
                                    <div class="input-icon">
                                        <i class="fa fa-bell-o font-green"></i>
                                        <input type="text" class="form-control" placeholder="Left icon"> </div>
                                </div>
                                <div class="form-group">
                                    <label>Left Icon(.input-sm)</label>
                                    <div class="input-icon input-icon-sm">
                                        <i class="fa fa-bell-o"></i>
                                        <input type="text" class="form-control input-sm" placeholder="Left icon"> </div>
                                </div>
                                <div class="form-group">
                                    <label>Left Icon(.input-lg)</label>
                                    <div class="input-icon input-icon-lg">
                                        <i class="fa fa-bell-o"></i>
                                        <input type="text" class="form-control input-lg" placeholder="Left icon"> </div>
                                </div>
                                <div class="form-group">
                                    <label>Right Icon</label>
                                    <div class="input-icon right">
                                        <i class="fa fa-microphone fa-spin font-blue"></i>
                                        <input type="text" class="form-control" placeholder="Right icon"> </div>
                                </div>
                                <div class="form-group">
                                    <label>Right Icon(.input-sm)</label>
                                    <div class="input-icon input-icon-sm right">
                                        <i class="fa fa-bell-o"></i>
                                        <input type="text" class="form-control input-sm" placeholder="Left icon"> </div>
                                </div>
                                <div class="form-group">
                                    <label>Right Icon(.input-lg)</label>
                                    <div class="input-icon input-icon-lg right">
                                        <i class="fa fa-bell-o font-green"></i>
                                        <input type="text" class="form-control input-lg" placeholder="Left icon"> </div>
                                </div>
                                <div class="form-group">
                                    <label>Circle Input</label>
                                    <div class="input-icon right">
                                        <i class="fa fa-microphone"></i>
                                        <input type="text" class="form-control input-circle" placeholder="Right icon"> </div>
                                </div>
                                <div class="form-group">
                                    <label>Input with Icon</label>
                                    <div class="input-group input-icon right">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-envelope font-purple"></i>
                                                    </span>
                                        <i class="fa fa-exclamation tooltips" data-original-title="Invalid email." data-container="body"></i>
                                        <input id="email" class="input-error form-control" type="text" value=""> </div>
                                </div>
                                <div class="form-group">
                                    <label>Input With Spinner</label>
                                    <input class="form-control spinner" type="text" placeholder="Process something" /> </div>
                                <div class="form-group">
                                    <label>Static Control</label>
                                    <p class="form-control-static"> email@example.com </p>
                                </div>
                                <div class="form-group">
                                    <label>Disabled</label>
                                    <input type="text" class="form-control" placeholder="Disabled" disabled> </div>
                                <div class="form-group">
                                    <label>Readonly</label>
                                    <input type="text" class="form-control" placeholder="Readonly" readonly> </div>
                                <div class="form-group">
                                    <label>Dropdown</label>
                                    <select class="form-control">
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                        <option>Option 3</option>
                                        <option>Option 4</option>
                                        <option>Option 5</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Multiple Select</label>
                                    <select multiple class="form-control">
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                        <option>Option 3</option>
                                        <option>Option 4</option>
                                        <option>Option 5</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Textarea</label>
                                    <textarea class="form-control" rows="3"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputFile1">File input</label>
                                    <input type="file" id="exampleInputFile1">
                                    <p class="help-block"> some help text here. </p>
                                </div>
                                <div class="form-group">
                                    <label>Checkboxes</label>
                                    <div class="checkbox-list">
                                        <label>
                                            <input type="checkbox"> Checkbox 1 </label>
                                        <label>
                                            <input type="checkbox"> Checkbox 2 </label>
                                        <label>
                                            <input type="checkbox" disabled> Disabled </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Inline Checkboxes</label>
                                    <div class="checkbox-list">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" id="inlineCheckbox1" value="option1"> Checkbox 1 </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" id="inlineCheckbox2" value="option2"> Checkbox 2 </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" id="inlineCheckbox3" value="option3" disabled> Disabled </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Radio</label>
                                    <div class="radio-list">
                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> Option 1</label>
                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> Option 2 </label>
                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled> Disabled </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Inline Radio</label>
                                    <div class="radio-list">
                                        <label class="radio-inline">
                                            <input type="radio" name="optionsRadios" id="optionsRadios4" value="option1" checked> Option 1 </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optionsRadios" id="optionsRadios5" value="option2"> Option 2 </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optionsRadios" id="optionsRadios6" value="option3" disabled> Disabled </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn blue">Submit</button>
                                <button type="button" class="btn default">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- END SAMPLE FORM PORTLET-->
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>