<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE TITLE-->
        <h3 class="page-title"> Empresa {{data.name}}
            <small>Perfil</small>
        </h3>
        <!-- END PAGE TITLE-->
        <!-- END PAGE HEADER-->
        <div class="row">
            <div class="col-md-8">
                <!-- BEGIN SAMPLE FORM PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-body form">
                        <form role="form">
                            <div class="form-body">
                                <div class="form-group">
                                    <label>Nombre completo</label>
                                    <input type="text" class="form-control" placeholder="Empresa de ejemplo S.A.S.">
                                </div>
                                <div class="form-group">
                                    <label>NIT</label>
                                        <input type="text" class="form-control" placeholder="Númenro de identificación tributaria">
                                </div>
                                <div class="form-group">
                                    <label>Dirección</label>
                                        <input type="text" class="form-control" placeholder="Su dirección">
                                </div>
                                <div class="form-group">
                                    <label>Telefono</label>
                                        <input type="text" class="form-control" placeholder="Su numero de telefono">
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                        <input type="text" class="form-control" placeholder="empresa@dynamitedocs.com">
                                </div>
                                <div class="form-group">
                                    <label>Contacto</label>
                                        <input type="text" class="form-control" placeholder="Nombre completo">
                                </div>
                                <div class="form-group">
                                    <label>Telefono del contacto</label>
                                        <input type="text" class="form-control" placeholder="Numero de telefono del contacto">
                                </div>
                            <div class="form-actions">
                                <button type="submit" class="btn blue">Guardar</button>
                                <button type="button" class="btn default">Cancelar</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- END SAMPLE FORM PORTLET-->
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>